### Reference

https://www.geeksforgeeks.org/item-to-item-based-collaborative-filtering/

In [7]:
import pandas as pd
import numpy as np

In [201]:
df = pd.read_csv('data.csv', index_col = 0)

In [202]:
item_item_matrix = pd.DataFrame(columns = df.index,  index = df.index)
dfT = df.T
dfT

    movie1  movie2  movie3  movie4  movie5  movie6
U1     5.0     3.0     3.0     3.0     2.0     3.0
U2     5.0     3.0     5.0     5.0     3.0     3.0
U3     2.0     NaN     5.0     3.0     NaN     4.0
U4     NaN     NaN     5.0     4.0     NaN     4.0
U5     4.0     4.0     4.0     NaN     2.0     3.0
U6     3.0     NaN     4.0     5.0     3.0     3.0
U7     NaN     NaN     4.0     4.0     1.0     NaN

## Cosine Similarity

<img src="https://www.geeksforgeeks.org/wp-content/ql-cache/quicklatex.com-6a635084614b8873ccdb323986d9a7aa_l3.svg" width = 400 height = 400/>

In [211]:
import math
from numpy.linalg import norm

def get_sim(i1, i2):
    num = np.dot(i1, i2)
    den = norm(i1)*norm(i2)
    return num/den

def similarity(item1, item2):
    i1, i2 = np.array([]), np.array([])
    for i, j in zip(dfT[item1].tolist(), dfT[item2].tolist()):
        if i >= 0 and j >= 0:
            i1 = np.append(i1, [i])
            i2 = np.append(i2, [j]) 
    return get_sim(i1, i2)

In [206]:
items = dfT.columns.tolist()

for item1 in items:
    for item2 in items:
        item_item_matrix.at[item1, item2] = similarity(item1, item2)

In [207]:
item_item_matrix

          movie1    movie2    movie3    movie4    movie5    movie6
movie1         1  0.971061  0.919942  0.931977  0.951113  0.920528
movie2  0.971061         1  0.970143  0.970143  0.956674  0.990148
movie3  0.919942  0.970143         1  0.974901  0.956365   0.99083
movie4  0.931977  0.970143  0.974901         1  0.963087   0.95172
movie5  0.951113  0.956674  0.956365  0.963087         1  0.980581
movie6  0.920528  0.990148   0.99083   0.95172  0.980581         1

<img src="https://www.geeksforgeeks.org/wp-content/ql-cache/quicklatex.com-5a19f8c3bde47cde6d8df03dd9a29d7d_l3.svg" width = 400 height = 400/>

In [208]:
items = item_item_matrix.columns.tolist()
user = 'U3'
unrated_items = df.loc[df[user].isna()].index.tolist()
print(user)
recoms = []
for uitem in unrated_items:
    
    num, den = 0,0
    for item in items:
        if item != uitem and pd.notna(df.loc[item, user]):
            sim = item_item_matrix.loc[uitem, item]
            ur = df.loc[item, user]
            
            num += (sim*ur)
            den += sim
            #print(sim, ur, num, den)
    
    user_rating = num/den
    
    recoms.append([user_rating, uitem])
recoms.sort(reverse = True)
recoms

U3

[[3.5043170188787363, 'movie5'], [3.5022107253003334, 'movie2']]